Repository 10-rolling/rollingPolling, pull requests merged in 2023-11, with the labels that each got.

#7 [#2] styled-components 세팅
  jsconfig.json
  package-lock.json
  package.json
  src/assets/fonts/NotoSansKR-Bold.woff
  src/assets/fonts/NotoSansKR-Regular.woff
  src/index.js
  src/styles/GlobalStyle.js
  src/styles/theme.js
Labels: feat

#9 [#8] 디렉토리 구조 설정
  src/components/Button/Button.js
  src/constants/common.js
  src/hooks/use.js
  src/libs/api.js
  src/pages/Main.js
  src/router/Router.js
  src/utils/format.js
Labels: env

#5 [#1] github actions 세팅
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/delete-merged-branch-config.yml
  .github/workflows/labeler.yml
Labels: feat

#6 [#3] pr 관련 github 기능 설정
  .github/CODEOWNERS
  .github/auto_assign.yml
Labels: env

#17 [#16] styles 경로 변경 및 colors 변수명 수정
  .github/workflows/labeler.yml
  package-lock.json
  package.json
  src/index.js
  src/styles/theme.js
Labels: bug

#22 [#20] styled-components-order 설정
  .stylelintrc
  package-lock.json
  package.json
Labels: env

#21 [#4] router 세팅
  src/NotFound.js
  src/index.js
  src/pages/List.js
  src/pages/Main.js
  src/pages/Post.js
  src/router/Root.js
  src/router/Router.js
Labels: feat

#23 env: eslint-plugin-import 추가
  .eslintrc.json
  package-lock.json
  package.json
  src/styles/GlobalStyle.js
Labels: env

#26 [#12] Badge, Option 컴포넌트
  package-lock.json
  package.json
  src/App.js
  src/assets/icons/Check.svg
  src/assets/icons/DefaultProfile.svg
  src/components/Badge/Emoji.js
  src/components/Badge/Relation.js
  src/components/SelectPaperBg.js
  src/constants/category.js
  src/router/Router.js
  src/styles/GlobalStyle.js
Labels: feat

#27 [#13] Button 컴포넌트 구현
  .eslintrc.json
  src/assets/icons/add.svg
  src/assets/icons/arrowdown.svg
  src/assets/icons/arrowleft.svg
  src/assets/icons/arrowright.svg
  src/assets/icons/deleted.svg
  src/assets/icons/edit.svg
  src/assets/icons/plus.svg
  src/assets/icons/share.svg
  src/components/Button/ArrowButton.js
  src/components/Button/OutlinedButton.js
  src/components/Button/PlusButton.js
  src/components/Button/PrimaryButton.js
  src/components/Button/SecondaryButton.js
  src/components/Button/ToggleButton.js
  src/constants/buttonSize.js
  src/pages/Main.js
  src/styles/GlobalStyle.js
  src/styles/theme.js
Labels: feat

#28 [#14] Input ,Dropdown 컴포넌트 개발
  src/assets/icons/arrowDown.svg
  src/assets/icons/arrowUp.svg
  src/components/Dropdown/Dropdown.js
  src/components/Input/Input.js
  src/constants/dropdownItem.js
Labels: feat

#39 [#36] style 수정
  .eslintrc.json
  src/assets/icons/arrowdown.svg
  src/assets/icons/complete.svg
  src/assets/icons/delete.svg
  src/components/Badge/Emoji.js
  src/components/Badge/Relation.js
  src/components/Button/ArrowButton.js
  src/components/Button/Button.js
  src/components/Button/OutlinedButton.js
  src/components/Button/PlusButton.js
  src/components/Button/PrimaryButton.js
  src/components/Button/SecondaryButton.js
  src/components/Button/ToggleButton.js
  src/components/Dropdown/Dropdown.js
  src/components/Input/Input.js
  src/components/SelectPaperBg.js
  src/components/Toast/Toast.js
  src/constants/category.js
  src/constants/common.js
  src/constants/message.js
  src/pages/Main.js
  src/styles/GlobalStyle.js
  src/styles/theme.js
Labels: env, style, feat

#44 [#32] card 컴포넌트
  src/assets/icons/arrowDown.svg
  src/components/Badge/Relation.js
  src/components/Button/OutlinedButton.js
  src/components/Card/Card.js
Labels: feat

#48 [#31] modal 컴포넌트
  src/assets/icons/arrowDown.svg
  src/assets/icons/deleted.svg
  src/components/Card/Card.js
  src/components/Modal/Modal.js
  src/pages/Post.js
Labels: feat

#42 [#33] feat: 메세지 보내기 페이지 구현
  package-lock.json
  package.json
  src/assets/icons/arrowdown.svg
  src/components/Button/PrimaryButton.js
  src/components/Dropdown/Dropdown.js
  src/components/Editor/Editor.js
  src/components/Input/Input.js
  src/components/Label/Label.js
  src/constants/dropdownItem.js
  src/constants/labelSize.js
  src/constants/message.js
  src/constants/url.js
  src/hooks/use.js
  src/hooks/useChangeProfileImg.js
  src/hooks/useContent.js
  src/hooks/useCreateCheck.js
  src/hooks/useInputName.js
  src/hooks/useNameCheck.js
  src/hooks/useProfileImg.js
  src/hooks/useRelationShip.js
  src/hooks/useSelectFont.js
  src/libs/api.js
  src/pages/SendMessage.js
  src/router/Router.js
Labels: env, feat

#47 [#30] main page 개발
  .github/workflows/delete-merged-branch-config.yml
  src/assets/images/exampleCard.png
  src/assets/images/exampleEmoji.png
  src/assets/images/logo.png
  src/components/Label/Point.js
  src/components/Nav/Nav.js
  src/components/Text/Explain.js
  src/pages/Main.js
Labels: feat

#51 [#50] dateFormat 유틸
  src/utils/dateFormat.js
Labels: feat

#60 [#35] cardList 컴포넌트
  src/assets/icons/blueFigure.svg
  src/assets/icons/greenFigure.svg
  src/assets/icons/orangeFigure.svg
  src/assets/icons/purpleFigure.svg
  src/components/Card/CardList.js
  src/components/SelectPaperBg.js
  src/constants/cardTheme.js
Labels: feat

#41 [#34] header 컴포넌트
  .eslintrc.json
  package-lock.json
  package.json
  src/assets/icons/plusImg.svg
  src/assets/kakao.js
  src/components/Header/Header.js
  src/components/Header/Reaction.js
  src/components/Header/SendersInfo.js
  src/components/Header/SharedUrl.js
  src/components/Toast/Toast.js
  src/constants/common.js
  src/hooks/useEmojiToggleStore.js
  src/hooks/useKakaoStore.js
  src/hooks/useReactionToggleStore.js
  src/hooks/useSharedToggleStore.js
  src/hooks/useToastStore.js
  src/libs/api.js
  src/pages/Main.js
Labels: feat

#45 [#37] Post page 구현
  src/assets/icons/arrowdown.svg
  src/assets/images/post/bluePost.svg
  src/assets/images/post/greenPost.svg
  src/assets/images/post/mountain.svg
  src/assets/images/post/orangePost.svg
  src/assets/images/post/plain.svg
  src/assets/images/post/purplePost.svg
  src/components/Button/ToggleButton.js
  src/components/Input/Input.js
  src/constants/backgroundItem.js
  src/hooks/useBackgroundImg.js
  src/hooks/useEmptyCheck.js
  src/hooks/useProfileImg.js
  src/hooks/useSetBackgroundItem.js
  src/libs/api.js
  src/pages/Post.js
Labels: feat

#67 [#65] fix: 파일 충돌 해결, eslint 오류 해결
  src/components/Dropdown/Dropdown.js
  src/components/Header/Reaction.js
  src/components/Header/SharedUrl.js
  src/libs/api.js
  src/pages/Main.js
Labels: bug, fix

#58 [#56] post List page 구현
  src/components/Card/EmptyCard.js
  src/hooks/useColorToCode.js
  src/hooks/useUserInfo.js
  src/libs/api.js
  src/pages/PostList.js
  src/router/Router.js
Labels: feat

#62 [#61] 아스키아트
  src/assets/icons/arrowDown.svg
  src/assets/icons/arrowdown.svg
  src/components/Dropdown/Dropdown.js
  src/router/Root.js
Labels: style

#54 [#53] SendMessage 페이지 버튼 스타일
  src/pages/SendMessage.js
Labels: refactor

#72 [#71] Post Message 전용 API 추가 및 연동
  src/constants/url.js
  src/libs/api.js
  src/pages/PostList.js
Labels: feat

#69 [#68] Router 설정 및 POST 페이지 스타일 변경
  src/pages/Post.js
  src/router/Router.js
Labels: refactor

#83 [#82] DropDown 스타일 수정
  src/components/Dropdown/Dropdown.js
Labels: style

#78 [#77] Editor 입력값 버그
  src/components/Editor/Editor.js
Labels: bug, fix

#75 [#49] 카드 클릭시 해당 내용 모달로 띄우기
  src/components/Card/Card.js
  src/hooks/useSetBackgroundItem.js
  src/pages/PostList.js
  src/utils/dateFormat.js
Labels: feat

#85 [#52] list page
  src/components/Card/CardList.js
  src/components/Header/SendersInfo.js
  src/components/Nav/Nav.js
  src/components/Slider/CardListSlider.js
  src/components/Text/PaperCategory.js
  src/hooks/useSendersInfo.js
  src/libs/api.js
  src/pages/List.js
  src/utils/sortData.js
Labels: feat

#88 [#87] Header 컴포넌트 리팩토링
  src/components/Header/Header.js
  src/components/Header/Reaction.js
  src/components/Header/SendersInfo.js
  src/hooks/useMessagesInfo.js
  src/pages/Post.js
  src/pages/SendMessage.js
Labels: refactor

#89 [#70] 무한스크롤 구현
  package-lock.json
  package.json
  src/constants/url.js
  src/hooks/useUserInfo.js
  src/pages/PostList.js
Labels: feat

#91 [#86] 반응형 페이지 만들기 + 스타일 수정
  src/components/Button/PrimaryButton.js
  src/components/Button/ToggleButton.js
  src/components/Card/Card.js
  src/components/Card/EmptyCard.js
  src/components/Modal/Modal.js
  src/components/Nav/Nav.js
  src/components/Text/Explain.js
  src/pages/Main.js
  src/pages/Post.js
  src/pages/PostList.js
  src/pages/SendMessage.js
  src/styles/mediaQuery.js
Labels: style, feat, fix

#96 [#94] list page 반응형
  public/favicon/logo.png
  public/index.html
  src/components/Slider/CardListSlider.js
  src/hooks/useKakaoStore.js
  src/pages/List.js
  src/styles/GlobalStyle.js
Labels: style, feat

#64 [#63] README.md 추가
  README.md
Labels: docs

#97 [#93] 페이지, 컴포넌트 반응형 추가
  src/components/Badge/Relation.js
  src/components/Button/OutlinedButton.js
  src/components/Card/Card.js
  src/components/Card/CardList.js
  src/components/Header/Header.js
  src/components/Header/Reaction.js
  src/components/Header/SendersInfo.js
  src/components/Header/SharedUrl.js
  src/components/Modal/Modal.js
  src/components/Nav/Nav.js
  src/components/Toast/Toast.js
  src/pages/Main.js
  src/pages/Post.js
  src/pages/PostListEdit.js
  src/pages/SendMessage.js
  src/styles/GlobalStyle.js
Labels: style, feat

#101 [#99] SendMessage 페이지에서 이미지 위치 변경
  src/pages/PostListEdit.js
  src/pages/SendMessage.js
  src/utils/format.js
Labels: style, bug, fix

#100 [#98] API 공통 에러 처리 기능 구현
  package-lock.json
  package.json
  src/libs/api.js
  src/utils/alert.js
Labels: feat

#105 [#104] 버그 싹 다 고치기 🔥🔥
  public/index.html
  src/components/Badge/Relation.js
  src/components/Card/Card.js
  src/components/Card/CardList.js
  src/components/Nav/Nav.js
  src/hooks/useToastStore.js
Labels: bug

#107 [#106] 토스트 메시지 뒤로나오는 현상 / URL 공유하기 버그 수정
  src/components/Toast/Toast.js
  src/hooks/useToastStore.js
Labels: style, bug, fix

#110 [#108] 전체적인 리팩토링
  src/NotFound.js
  src/assets/kakao.js
  src/components/Card/Card.js
  src/components/Card/CardList.js
  src/hooks/useChangeProfileImg.js
  src/hooks/useKakaoStore.js
  src/pages/List.js
  src/pages/Main.js
  src/pages/NotFound.js
  src/pages/PostList.js
  src/pages/PostListEdit.js
  src/pages/SendMessage.js
  src/router/Router.js
Labels: env, style, feat, refactor

#112 [#111]API 에러 발생시 페이지 넘어가지 않도록 개선
  src/components/Card/Card.js
  src/constants/url.js
  src/libs/api.js
  src/pages/SendMessage.js
Labels: refactor
